<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.smartapp.priyo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="4"
        android:targetSdkVersion="10" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Sherlock.Light.DarkActionBar" >
        <activity
            android:name="com.smartapp.priyo.HomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.smartapp.priyo.MainActivity" >
        </activity>
        <activity
            android:name="com.smartapp.priyo.SearchActivity"
            android:label="@string/title_activity_search"
            android:parentActivityName="com.smartapp.priyo.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.smartapp.priyo.MainActivity" />
        </activity>
        <activity
            android:name="com.smartapp.priyo.SimulateActivity"
            android:label="@string/title_activity_simulate"
            android:parentActivityName="com.smartapp.priyo.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.smartapp.priyo.MainActivity" />
        </activity>
        <activity
            android:name="com.smartapp.priyo.ReviewActivity"
            android:label="@string/title_activity_review"
            android:parentActivityName="com.smartapp.priyo.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.smartapp.priyo.MainActivity" />
        </activity>
        <activity
            android:name="com.smartapp.priyo.SignupActivity"
            android:label="@string/title_activity_signup"
            android:parentActivityName="com.smartapp.priyo.HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.smartapp.priyo.HomeActivity" />
        </activity>
        <activity
            android:name="com.smartapp.priyo.AddCarActivity"
            android:label="@string/title_activity_add_car"
            android:parentActivityName="com.smartapp.priyo.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.smartapp.priyo.MainActivity" />
        </activity>
    </application>

</manifest>